extends layout

block content
  h1= title
  p Welcome to #{title}
  if currentUser
    div #{currentUser.username}

    div
      a(href='/articles/add')
        span.nav-text.header-btn Add article

    //- Shows all articles from all writers

  else
    div Not connected 
    div
      a(href='/users/auth/login/')
        span.nav-text.header-btn LOGIN
    //- Shows all articles from all writers

    