extends layout

block content
  h1= title
  p Welcome to #{title}
  if currentUser
    div #{currentUser.username}

    // Shows all articles from all writers

  else
    div Please 
        
    // Shows all articles from all writers

    