extends layout

block content
  h1 NO LOGIN
  p NO LOGIN
  h3 You can't access this page yet, please log-in first:               
  div.connect
    ul
      a.button(href='/users/auth/login')  
  h3 Or sign-up:              
    div.hconnect
      ul
        a.button(href='/users/auth/signup')  