extends layout

block content
 
  div.nologin-div
    h3 You can't access this page yet, please log-in first:   
    a.profile-btn(href='/users/auth/login/')
      span.btn.btn-primary Log in
    h3.orisignup Or sign-up:              
    a.add-article-btn(href='/users/auth/signup/')
      span.btn.btn-primary Sign up


  div.footer Clément Hurel © All rights reserved, 2022
