extends layout

block content
  div.profile-page
    div.profile-header
      div.profile-title-page All your published articles
      div.add-article-btn 
        a.add-article-btn-profile(href='/articles/add')
          span.btn.btn-primary.btn-primary-profile Write a new article 🖋

    div.article-list
      if articles.length > 0
        each article in articles
          div.article-block
            a(href=`${article.url}`)
              img.article-block-img(src='/images/article.jpg')
              div.article-view 
                div.article-title-profile.font-weight-bold= article.title
                div.article-date #{article.date.toString().slice(0,15)}
                form(method='POST' action=`/articles/view/${article.id}/delete`)
                  button.btn.btn-primary-profile(type='submit') Delete this article

      else
          div.article-field
            div.profile-text You don't have any article yet
            a.add-article-btn(href='/articles/add')
              span.btn.btn-primary Write your first article  
  div.footer Clément Hurel © All rights reserved, 2022


