@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0C61B2;
}

a:hover{
  text-decoration: none;
}


/* HEADER CSS */
.container-div{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header{
  margin-bottom: 40px;
  box-shadow: 5px 5px 8px #b5b9bd;
}
.header-left{
  display:flex;
  justify-content: center;
  text-align: center;
}
  .logo-text-div{
    display:flex;
    position: relative;
    font-size: 20px;
    color:rgb(68, 68, 68);
  }
    .logo-text-down{
      position:absolute;
      top:14px;
      color:rgb(68, 68, 68);
      margin-left: 30px;

    }
    .logo-text-up{
      position:absolute;
      top:4px;
      color:rgb(68, 68, 68);
    }
    .logo-text:hover{
      color:rgb(68, 68, 68);    
    }
  .title-header{
    font-size: 25px;
    margin-left: 20px;
    color: #0C61B2
  }
  .header-right{
    display:flex;
    align-items: center;
  }
    .nav-right{
      display:flex;
      align-items: center;
      font-family: 'Libre Caslon Text', serif;

    }
    .header-click{
      font-family: 'Noto Sans JP', sans-serif;
      margin-right: 22px;
    }
    .header-btn{
      font-family: 'Noto Sans JP', sans-serif;
    }
.logo-header-div{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.nav-link{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 20px 10px 20px;
  background-color: #ccdae4;
  border-radius: 12px;
  margin-left: 20px;
  font-family: 'Libre Caslon Text', serif;
}
.welcome-txt{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;

}
.nav-link:hover{
  background-color: #efeded;
}
  .nav-text{
    display:block;
    margin:auto;
  }
  .d-block{
    display:block;
    margin:auto;
    margin-top: 5%;
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(321deg) brightness(110%) contrast(110%);
  }



  /* HOMEPAGE */

  .homepage-banner{
    display:flex;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 15%;
    margin-right: 15%;
  }
  @media (max-width: 767px) {
    .homepage-banner{
      display:block;
    }
  }

    .banner-left{
      width: 50%;
      margin-right: 5%;
    }
      .homepage-title{
        font-size: 3rem;
        padding-bottom: 4%;
      }
      .homepage-text{
        font-size: 1rem;
        padding-bottom: 2%;

      }
      .homepage-undertext{
        font-size: 0.8rem;
        padding-bottom: 10%;
      }
      .btn-primary{
        margin-right: 3%;
        background-color: #0C61B2;
      }
      .hr-separate{
        border-top: 1px solid #bbb;
        margin-top: 8%;
        margin-bottom: 6%;
      }
    .banner-right{
      width: 50%;
    }
      .homepage-img{
        position: relative;
        float: right;
        margin-right: 0;  
        top: -15px;
        height: 110%;
        margin-left: 20%;
      }

      /* ARTICLE HOMEPAGE */
      .all-articles-div{
        margin-top: 4%;
        margin-bottom: 8%;
    
        margin-left: 20%;
        margin-right: 20%;
      }
        .article-list{
          display:grid;
          justify-content: center;
          grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
          grid-auto-rows: 318px;
          gap:5rem;
          justify-items: center;
        }
        .article-block:hover{
          box-shadow: 5px 5px 80px 8px #c2c5c8;
        }
          .article-view{
            box-shadow: 5px 5px 80px 8px #e0e4e7;
            padding: 3%;
          }
            .title{
              margin-bottom: 3%;
            }
            .article-list{
              display: grid;
            }
            .article-block-img{
              width: 100%;
            }
            .article-block{
              width:100%;
            }
            .article-title{
              font-size: 1rem;
              margin-bottom: 2%;
            }      
            .article-date{
              font-size: 0.6rem;
              margin-bottom: 2%;

            }
            .article-user{
              font-size: 0.6rem;
              color: grey;
            }




 /* PROFILE */

 .profile-page{
  margin-top: 3%;
  margin-bottom: 8%;
  margin-left: 15%;
  margin-right: 15%;
}      
  .profile-header{
    display:flex;
    justify-content: space-between;
  }   
  .profile-title-page{
    font-size: 3rem;
    padding-bottom: 4%;
  }   
  .add-article-btn-profile{
    position:relative;
    float:right;
    margin-right: 0;
    margin-top: 6%;
  }
  .article-title-profile{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .btn-primary-profile{
    background-color:#3379ba;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5px;
    width:100%;
    font-size: 12px;
    height:30px;
    color:white;
  }


/* ARTICLE DETAIL */
.article-div{
  margin-top: 3%;
  margin-bottom: 8%;
  margin-left: 25%;
  margin-right: 25%;
}
  .article-field{
    margin-bottom: 6%;
  }
  .article-detail-header{
    display:flex;
    justify-content: space-between;
  }
    .article-detail-title{
      font-size: 3rem;
      padding-bottom: 0.5%;
    }
    .article-detail-content{
      margin-top: 3%;
      margin-left: 3%;
      margin-right: 3%;

    }
    .delete-article-detail-btn{
      position:relative;
      float:right;
      margin-right: 0;
      margin-top: 10%;
    }
  .article-info{
    display:flex;
    justify-content: space-between;
    margin-bottom: 2%;
  }
    .article-detail-user{
      font-size: 0.8rem;
      color: grey;
    }
    .article-detail-date{
      font-size: 0.6rem;
      color: grey;
    }
  .article-detail-img{
    width: 100%;
    height: 50%;
    margin-bottom: 1%;
  }
  .comment-box{
    margin-bottom: 1%;
    background-color: white;
    padding: 2%;
    border-radius: 4px;
  }
  .comment-div{
    background-color: rgb(246, 245, 245);
    border-radius: 5px;
    padding: 2%;
  }
  .comment-display-date{
    font-size: 0.6rem;
    margin-top: 1%;
  }
  .comment-div-info{
    margin-top: 2%;
    margin-right: 40px;
  }
  .label-form{
    margin-top: 2%;
  }
  .form-control{
    margin-bottom: 1%;

  }


  /* WRITE ARTICLE */

  .article-form-container{
    margin-top: 3%;
    margin-bottom: 8%;
    margin-left: 25%;
    margin-right: 25%;
  }
  .title-add-article{
    margin-bottom: 4%;
  }
  .content-add-article{
    margin-bottom: 3%;
    height:300px;
  }

   /* LOGIN */

   .login-form-container, .signup-form-container{
    margin-top: 3%;
    margin-bottom: 8%;
    margin-left: 25%;
    margin-right: 25%;
  }


/* FOOTER */
.footer {
  font-family: arial;
  color: #212121;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  background-color:rgb(242, 240, 240);
}